<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
      <main class="container-fluid">
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">Create and share Markdown Wikis</p>
          <a href="/users/signup" class="btn btn-primary btn-lg custom-btn">Sign up</a>
        </header>

        <section class="row text-center">
          <section class="col">
            <h4 class="card-title">Free Plan</h4>
            <img src="/images/index/freeDoc.png" alt="Free Document image">
            <p class="card-text">Create unlimited free public wikis!</p>
          </section>

          <section class="col">
            <h4 class="card-title">Premium Plan</h4>
            <img src="/images/index/paidDoc.png" alt="Paid Document image">
            <p class="card-text">Everything in the free plan<br>+ Create private wikis</p>
          </section>

        </section>

      </main>

      <% include ./partials/baseScripts.ejs %>

    </body>

</html>